    <div class="col-md-7">
      <table class="table table-striped table-hover table-bordered table-sm bg-white">
        <thead>
          <tr>
            <!--<td>ID</td>-->
            <td>Edad</td>
            <td>Localidad</td>
            <td>Nombre</td>
            <td>Tipo</td>
          </tr>
        </thead>
        <tbody>
          % for animales in buscador:

          <tr>
          <td>{{animales[3]}}</td>
          <td></td>
          <td></td>
          <td></td>
          <td>
            </td>
          </tr>
       </tbody>
       % end
      </table>
    </div>